.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categories{
    display: flex;
}
.categories>div{
    padding-inline: 30px;
}
.users{
    display: flex;
    align-items: center;
}
.users>div{
    padding-inline: 20px;
    color: var(--Primary);
}
.button-login{
    width: 10px;
}
.container-section{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
