:root{
    /*Headlines Header*/

    --Headline1:  semibold,64px;
    --Headline2: 'semi bold', 36/44;
    --Headline3: 'semi bold', 28/36;
    --Headline4: 'semi bold', 20/28;

    /*Body*/

    --Body1: 'Regular', 18/28; 
    --Body2: 'Regular', 16/24;
    --Body3: 'Regular', 14/20;
    --Body4: 'Regular', 12/16;
}

