
.container-title{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    font-size: var(--headline2--font--size);
    width: 630px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.container-target{
    width: 300px;
    height: 260px;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 5px;

}
.icon-title{
    width: 267px;

}
.description{
    width: 251px;
    margin-top: -30px;
}
.icon-title, .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}