:root{
    /*Neutral*/

    --black: #263238;
    --D_Grey: #4D4D4D;
    --Grey: #717171;
    --L_Grey: #89939E;
    --Grey-blue: #ABBED1;
    --Silver: #F5F7FA;
    --Whithe: #FFFF;

    /*Primary*/

    --Primary: #28CB8B;

    /*Secondary*/

    --Secondary: #263238;

    /*Info*/

    --Info: #2194f3;

    /*Colo Shade*/

    --Shade1: #43A046;
    --Shade2: #388E3B;
    --Shade3: #237D31;
    --Shade4: #1B5E1F;
    --Shade5: #103E13;

    /*Colo Tint*/

    --Tint1: #66BB69;
    --Tint2: #81C784;
    --Tint3: #A5D6A7;
    --Tint4: #C8E6C9;
    --Tint5: #E8F5E9;

    /*Action*/

    --Warning: #FBC02D;
    --Error: #E53835;
    --Succes: #2E7D31;

    /* Headlines Header */
    --headline1--font--size: 64px;
    --headline1--font--weight: semibold;
    --headline2--font--size:  44px;
    --headline2--font--weight: semibold;
    --headline3--font--size:  36px;
    --headline3--font--weight: semibold;
    --headline4--font--size:  28px;
    --headline4--font--weight: semibold;


    /* Body */
    --body1--font--size:  28px;
    --body1--font--weight: regular;
    --body2--font--size:  24px;
    --body2--font--weight: regular;
    --body3--font--size:  20px;
    --body3--font--weight: regular;
    --body4--font--size:  16px;
    --body4--font--weight: regular;

}